#### Import packages

In [2]:
# replace ??? with the package you will use (pandas and plotly)
import pandas as pd
import plotly.express as px
#thank you

#### Load Dataset

In [3]:
# replace ??? with your csv file name
# IMDb_Data_final.csv this will be your file name yep you got it
df = pd.read_csv('./IMDb_Data_final.csv')

In [0]:
# woohoo! go have lunch now! its a long morning take some rest : )

In [4]:
# print the first 5 rows of the dataframe. ok Thank you :)
df.head(5)

,Title,Director,Stars,IMDb-Rating,Category,Duration,Censor-board-rating,ReleaseYear
0,Top Gun: Maverick,JosephKosinski,"TomCruise, JenniferConnelly, MilesTeller, ValK...",8.6,"Action,Drama",130min,UA,2022
1,Everything Everywhere All at Once,"DanKwan,",", MichelleYeoh, StephanieHsu, KeHuyQuan, James...",8.3,"Action,Adventure,Comedy",139min,R,2022
2,The Batman,MattReeves,"RobertPattinson, ZoëKravitz, JeffreyWright, Co...",7.9,"Action,Crime,Drama",176min,UA,2022
3,Jurassic Park,StevenSpielberg,"SamNeill, LauraDern, JeffGoldblum, RichardAtte...",8.2,"Action,Adventure,Sci-Fi",127min,UA,1993
4,The Godfather,FrancisFordCoppola,"MarlonBrando, AlPacino, JamesCaan, DianeKeaton",9.2,"Crime,Drama",175min,A,1972

In [0]:
# give information of the dataframe
df.info()

In [5]:
df.tail(5)

,Title,Director,Stars,IMDb-Rating,Category,Duration,Censor-board-rating,ReleaseYear
995,Vizontele,"YilmazErdogan,",", YilmazErdogan, DemetAkbag, AltanErkekli, Cem...",8.0,"Comedy,Drama",110min,NaN,2001
996,Sarfarosh,JohnMathewMatthan,"AamirKhan, NaseeruddinShah, SonaliBendre, Muke...",8.1,"Action,Drama,Thriller",174min,A,1999
997,Udaan,VikramadityaMotwane,"RajatBarmecha, RonitRoy, ManjotSingh, RamKapoor",8.1,Drama,134min,UA,2010
998,English Vinglish,GauriShinde,"Sridevi, AdilHussain, MehdiNebbou, PriyaAnand",7.8,"Comedy,Drama,Family",134min,U,2012
999,Anand,HrishikeshMukherjee,"RajeshKhanna, AmitabhBachchan, SumitaSanyal, R...",8.1,"Drama,Musical",122min,U,1971

#### Data Cleaning

In [13]:
columns_to_drop = ['Censor-board-rating', 'Category']
df.drop(columns_to_drop, axis = 1, inplace = True)

In [14]:
df.head(1)

,Title,Director,Stars,IMDb-Rating,Duration,ReleaseYear
0,Top Gun: Maverick,JosephKosinski,"TomCruise, JenniferConnelly, MilesTeller, ValK...",8.6,130min,2022

#### Exploratory Data Analysis